@font-face {
    font-family: Gilroy;
    src: url(Gilroy-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,body{
    height: 100vh;
    width: 100%;
}

#main{
    height: 10vh;
    width: 100%;
    background-color: rgb(255, 255,255);
    padding: 1.2vw 1.2vw;
}

#nav{
    /* height: 100px; */
    height: 7vh;
    width: 100% ;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding: 0 30px;
}

#nav h4{
   font-size: 20px;
   font-weight: 700;
}

#nav i{
    font-size: 20px;
    font-weight: 500;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 50%;
}

#centre{
    width: 100%;
    /* background: red; */
    padding: 2vh 8vh;
}

#centre h1{
    font-size: 4.1vw;
    font-weight: 500;
    line-height: 4.4vw;
}

#centre-in{
    width: 100%;
    /* background-color: red; */
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

#centre-in p{
    font-size: 1.14vw;
    font-weight: 600;
    line-height: 1.8vw;
}

#right{
    width: 20%;
}

.elem{
    /* background: yellow; */
    /* margin: 5px; */
    padding: 20px 0;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elem i{
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
}

.elem:hover i{
    opacity: 1 ;
}
elem:hover a{
    text-decoration: underline;
}
.elem:hover{
    border-color: rgb(190, 185, 185);
}
.elem a{
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

#bottom{
    height: 300px;
    width: 100%;
    background: url(ovayo-ntlabati-f_WTk4JqwiM-unsplash.jpg);
    background-size: cover;
    background-position: 0 25%;
}

@media (max-width:600px){
    #nav{
        height: 60px;
        gap: 20px;
        padding: 0 20px;
    }

    
    #nav h4{
    font-size: 15px;
    font-weight: 700;
    /* display: none; */
    }
 
    #nav i{
     font-size: 15px;
     font-weight: 500;
     background-color: black;
     color: white;
     padding: 17px;
     border-radius: 50%;
     }
}